* {
	padding: 2px;
	margin: 0px;
}
.judul {
	margin-left: 120px;
}

.link {
	text-decoration: none;
	border: 1px solid;
	padding: 10px;
	margin-left: 150px;
}
.link:hover {
	color: black;
	}
.link1 {
	text-decoration: none;
	border: 1px solid;	
	color:black;
	padding-top: -2px;
}
.link1:hover {
	color: black;
	}
.putter {
	text-align: center;
	padding-top: 150px;
	font-family: Georgia, serif;
}